/* 

Web Dev Agent Custom CSS for WordPress Admin 

We don't overwrite styles in WP Admin, instead we provide custom style classes
clearly name-spaced to the WDA theme and plugins.

*/
/* 
   Custom Properties
   -------------------------------------------------------------
*/
:root {

   /* to do : review OutlineCSS example - any ideas we can carry arcoss..? */

   --wda_btn_bg:  hsl(240, 100%, 50%);
   --wda_btn_bg_hover:  hsl(240, 100%, 40%);
   --wda_btn_text_color: white;
   --wda_btn_padding:.5rem;
   --wda_btn_font_size:1rem;
   
   
} 


/* 
   Input/label combos 
*/
label.wda_label {
   display:grid;
   grid-template-columns: 1fr 4fr;
   justify-content:space-between;
   /* width:100%; */
   margin-bottom:.5rem;
}
label.wda_label span.wda_label_text {
   padding-top:.35rem;
}
input.wda_input {
   width:100%;
   background:hsl(0, 0%, 97%);
}


/* 
   Checkboxes 
*/
input.wda_checkbox {
   visibility:visible;
}


/* to do : none of these are getting through.. - how to get admin stylesheets effective in page editor?

*/
.wda-grid {
   border:solid 4px navy !important;
}

img {
   border:solid 3px yellow !important;
}
/* we allow for WP injecting an inner container div w/ redundancy 
to do : duplicated from wda.css ? */

/* .wda-grid:not(:has(div)),
.wda-grid > div {
   display:grid !important;
   grid-template-columns:1fr 1fr 1fr !important;
   justify-content:center !important;
   align-items:center !important;
   container:unset !important;
   border:solid 4px orange;
}  */
.display_block {
   display:block;
}

/* style button/links in Feature Block */
.wda_feature_btns > div > a {
   width:100%;
   background:var(--wda_btn_bg);
   color:var(--wda_btn_text_color);
   padding:var(--wda_btn_padding);
   font-size:var(--wda_btn_font_size);
}
.wda_feature_btns > div > a:hover {
   background:var(--wda_btn_bg_hover);
}

