/* 

Web Dev Agent Custom CSS for WordPress Admin 

We don't overwrite styles in WP Admin, instead we provide custom style classes
clearly name-spaced to the WDA theme and plugins.

*/


/* 
   Input/label combos 
*/
label.wda_label {
   display:grid;
   grid-template-columns: 1fr 4fr;
   justify-content:space-between;
   /* width:100%; */
   margin-bottom:.5rem;
}
label.wda_label span.wda_label_text {
   padding-top:.35rem;
}
input.wda_input {
   width:100%;
   background:hsl(0, 0%, 97%);
}


/* 
   Checkboxes 
*/
input.wda_checkbox {
   visibility:visible;
}


/* to do : none of these are getting through.. - how to get admin stylesheets effective in page editor?

*/
.wda-grid {
   border:solid 4px navy !important;
}

img {
   border:solid 3px yellow !important;
}
/* we allow for WP injecting an inner container div w/ redundancy 
to do : duplicated from wda.css ? */

/* .wda-grid:not(:has(div)),
.wda-grid > div {
   display:grid !important;
   grid-template-columns:1fr 1fr 1fr !important;
   justify-content:center !important;
   align-items:center !important;
   container:unset !important;
   border:solid 4px orange;
}  */
.display_block {
   display:block;
}

