
/* 
   Custom Properties
   -------------------------------------------------------------
*/
:root {

   /* Custom Props Color Schemes */
   --primary_bg:  hsl(41, 44%, 57%);   /* #c2a361 */
   --secondary_bg:hsl(64, 53%, 57%);   /* #c4cb57 */
   --light_bg:    hsl(49, 8%, 62%);    /* #a6a396 */
   --dark_bg:     hsl(206, 3%, 46%);   /* #727679 */
   --accent_bg:hsl(50, 99%, 48%);
   --semantic_pos_bg:    hsl(120, 93%, 79%);  /* green  - positive */
   --semantic_neg_bg:    hsl(0, 100%, 75%);   /* red    - negative */
   --semantic_warn_bg:   hsl(39, 100%, 75%);  /* orange - warning  */
   --semantic_neutral_bg:hsl(240, 100%, 75%); /* blue   - neutral  */
   
      
   /* Fonts */
   /* sans|serif */
   --font_family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
   /* --font_family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
   --font-size:18px;

   --light_text:white;
   --dark_text:black;

   /* Navigation */
   --nav_mobile_dropdown_bg:blue;  
   --nav_mobile_dropdown_color:white;
   
   /* top level nav items - dropdown in sm/mobile */
   /* md-lg screen navigation */
   --nav_bar_height:90px; /* used by header/header bg_img */
   --nav_bar_bg:          white;
   --nav_bar_text_color:  black;
   --nav_dropdown_bg:     white;
   --nav_dropdown_color:  black;
   /* item link highlight on hover */
   --nav_item_bottom_border:solid 1px transparent;
   --align_items_lg_dropdown:flex-end;

   /* Paragraphs  */
   --paragraph_width:50rem;
   --paragraph_padding:1rem;

   /* z-index layers */
   --app_status_layer:1100;
   --over_over_over_nav_layer:1000;
   --over_over_nav_layer:999;
   --over_nav_layer:998;
   --nav_layer:900;
   --under_nav_layer:-10;
   
   /* Component properties */    
   --cover_block_height:500px;   
   --feature_tiles_gap:1rem;
   
   /* Utility properties */
   --rounded_border:.5rem;
   --img_border_radius:.25rem;

   --wda_btn_bg:  hsl(240, 100%, 50%);
   --wda_btn_bg_hover:  hsl(240, 100%, 40%);
   --wda_btn_text_color: white;
   --wda_btn_padding:.5rem;
   --wda_btn_font_size:1rem;

   --wda_btn_bg:  hsl(240, 100%, 50%);
   --wda_btn_bg_hover:  hsl(240, 100%, 40%);
   --wda_btn_text_color: white;
   --wda_btn_padding:.5rem;
   --wda_btn_font_size:1rem;
   
   --link_text_color:blue;
   --link_text_color_hover:purple;
   
} 



html {
   margin:0;
   padding:0;   
}
body {
   background:white;
   margin:0;
   padding:0;
}
header {
   background:white;
   width:100%;
   height:100px;
   margin:0;
}

p {
   margin:0;
}


/*
   Nav
   -------------------------------------------
*/
.menu-top-menu {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
}

ul {
   list-style:none;
}
ul.menu{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   gap:1rem;
}
/* Heading elements */
h1, h2, h3, h4, h5, h6 {
   margin:0;
   padding: 0;
}
h1.wda_h1,.wda-cover h1 {
   font-size:3.5rem;
   line-height:3.7rem;
}
h2.wda_h2,.wda-cover h2 {
   font-size:3rem;
   line-height:3.2rem;
}
h3.wda_h3,.wda-cover h3 {
   font-size:2.5rem;
   line-height:2.7rem;
}
h4.wda_h4,.wda-cover h4 {
   font-size:2rem;
   line-height:2.25rem;
}
h5.wda_h5,.wda-cover h5 {
   font-size:1.5rem;
   line-height:1.75rem;
}
h6.wda_h6,.wda-cover h6 {
   font-size:1.25rem;
   line-height:1.35rem;
}
/* adapt outlinecss nav to wordpress menu structure */
/* style selection of menu item on top nav */
li.menu-item {width:100%;}
li.menu-item a,
li.menu-item.current-menu-item > a {
   width:fit-content;
   border:solid 1px transparent;
}
li.menu-item:hover > a {
   border-bottom:solid 1px white;
}
li.menu-item.current-menu-item > a {
   border-bottom:solid 1px white;
}
.list_style_bullets {
   -ms-flex-item-align:center;
   -ms-grid-row-align:center;
   align-self:center;
   width:fit-content;
   list-style:circle;
   margin-bottom:1rem;
}


/* ----------------------- Block Pattern Customizations ----------------------- */

/*
   Cover Blocks
   -------------------------------------------
*/
.wda-cover {
   margin:0 auto;
   border-radius:1rem;
}
.wda-cover-rows div.wp-block-columns {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
}
.wda-cover h1,.wda-cover h2,.wda-cover h3,.wda-cover h4,.wda-cover h5,.wda-cover h6,
.wda-cover p{
  color:white;
}
@media screen and (max-width: 782px) { 
   .wda-cover {
      border-radius:0;
   }
}
.wda_cover_btns {
   margin:0;
}
/* future : duplicates feature_btns below - we want universal btn across blocks */
.wda_cover_btns > div > a,
.wda_cover_btns > div > div {
   width:100%;
   background:var(--wda_btn_bg);
   color:var(--wda_btn_text_color);
   padding:var(--wda_btn_padding);
   font-size:var(--wda_btn_font_size);
}
.wda_cover_btns > div > a:hover {
   background:var(--wda_btn_bg_hover);
   color:var(--link_text_color_hover); 
}


/*
   Button Blocks
   -------------------------------------------
*/
div.wda_buttons {
   margin:1rem 0;
}
/* add wda_button to any WP button type to control border-radius */
div.wda_button a {
   border-radius:.75rem;
}


/*
   Feature Blocks
   -------------------------------------------
   We build from WordPress media-text which only stacks at v. sm
   We want it consistent w/ two-feature-columns breakpoints etc.
   Also, image was distorted by resizing screen width.
*/
/* switch off grid at sm/mobile - permits stacking at <782px */
.wda-features .wp-block-media-text__content {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -ms-flex-item-align:start;
   align-self:flex-start;
   gap:1rem;
}
/* align all child text elements in text__content */
.wda-features .wp-block-media-text__content > * {margin:0;padding:0;}
.wda-single-feature-columns { 
   display:unset;
}
.wda_inner_feature_block {
   display:-ms-grid;
   display:grid;
   -webkit-box-align:left;
   -ms-flex-align:left;
   align-items:left;
   padding:1rem;
   border:solid 1px lightgrey;
   border-radius:.5rem;
   overflow:hidden;
}

/* we vertically stack earlier than wp default */
/* @media screen and (max-width: 782px) { */
   div.wda-features.wda-single-feature-columns.reverse_order figure:nth-child(1) {
      -ms-grid-column:2;
      grid-column:2;
   }
   div.wda-features.wda-single-feature-columns.reverse_order div:nth-child(2) {
      -ms-grid-column:1;
      grid-column:1;
   }
   div.wda-features.wda-single-feature-columns.reverse_order figure {
      width:90%;
      margin-left:auto;
      margin-right:auto;
   }
/* } */
.wda_inner_feature_block > figure {
   max-width:100%;
   margin:0;
   overflow:hidden;
}
.wda_inner_feature_block > figure,
.wda-card > figure  {
   -ms-flex-item-align:start;
   align-self:flex-start;
   width:60px;
   margin-left:.5rem;
}
/* .wda_inner_feature_block > figure > img {
   width:100%;
} */
.wda_inner_feature_block *,
.wda_inner_feature_block div.wda_buttons {
   margin:0;
   max-width:100%;
}
/* we vertically stack earlier than wp default */
@media screen and (max-width: 1000px) {
   .wda-features {
      flex-direction:column;
      gap:0;
      margin:0;
      margin-left:1rem;
      margin-right:1rem;
   }
   .is-layout-flex .wp-block-column.wda_inner_feature_block {
      min-height:fit-content;
   }   
   div.wda-features > div.wp-block-column {
      margin-bottom:1rem;
   }
}

/*
   to retain pattern block integrity, we want img to keep height
   Here, we force height but permit aspect to be retained (overflow permits x-cropping)
*/
.wda-single-feature-columns figure, 
.wda-single-feature-columns figure img {
   height:100%;
   overflow:hidden
}
.wda-single-feature-columns figure img {
   -o-object-fit: cover;
   object-fit: cover;
}

/* 
   reset grid (WordPress default)
   782px matches WordPress columns media break - consistency 
*/
@media screen and (min-width: 782px) {
   .wda-single-feature-columns {
      display:-ms-grid;
      display:grid;
   }
}
/* style button/links in Feature Block */
.wda_feature_btns > div > a,
.wda_feature_btns > div > div {
   width:100%;
   background:var(--wda_btn_bg);
   color:var(--wda_btn_text_color);
   padding:var(--wda_btn_padding);
   font-size:var(--wda_btn_font_size);
}
.wda_feature_btns > div > a:hover {
   background:var(--wda_btn_bg_hover);
   color:var(--link_text_color_hover); 
}
/* .wda_feature_btns > .wda_feature_btn  {
   
} */

/*
   Staching Feature Blocks
   -------------------------------------------
   we incrse gap btwn 'columns' when stacking in sm/mobile for readability
*/
div.wda-features > div.wp-block-column {
   margin-bottom:1rem;
}
/* enable left-align content */
.wda-two-col-features img, .wda-three-col-features img, .wda-six-col-features img {
   margin:0 auto 0 0;
}
.wda_icon {
   width:42px;
   padding-left:.5rem;
}


/*
   Grid Blocks
   -------------------------------------------
*/
@media screen and (max-width: 768px) {
   div.wda-grid {
      /* set defaults on mobile/sm screens */
      width:fit-content;
      margin:1rem auto;
   }
}
/* we allow for WP injecting an inner container div w/ redundancy */
.wda-grid:not(:has(div)),
.wda-grid > div {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns:1fr 1fr 1fr;
   grid-template-columns:1fr 1fr 1fr;
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
} 
.display_block {
   display:block;
}

/* utility classes - for applying style to indvdl blocks in Page Editor */
.wda-grid.grid_2_cols {
   -ms-grid-columns:1fr 1fr;
   grid-template-columns:1fr 1fr;
}
.wda-grid.grid_4_cols {
   -ms-grid-columns:1fr 1fr 1fr 1fr;
   grid-template-columns:1fr 1fr 1fr 1fr;
}
.wda-grid.grid_6_cols {
   -ms-grid-columns:1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
}



/*
   Grid Card Blocks
   -------------------------------------------
*/
.wda_grid_cards {
   background:transparent;
   margin:0 auto;
   border:solid 1px blue;
}
.wda_grid_cards {
   display:-ms-grid;
   display:grid;
   -ms-grid-columns:1fr 1fr 1fr;
   grid-template-columns:1fr 1fr 1fr;
   -webkit-box-pack:center;
   -ms-flex-pack:center;
   justify-content:center;
   -webkit-box-align:center;
   -ms-flex-align:center;
   align-items:center;
}
.wda_grid_cards > div.wp-block-group {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:vertical;
   -webkit-box-direction:normal;
   -ms-flex-direction:column;
   flex-direction:column;
   -webkit-box-align:start;
   -ms-flex-align:start;
   align-items:flex-start;

   /* to do : style Grid Cards.. */
   border:solid 2px blue;
   background:hsl(0, 0%, 96%);
   padding:1rem;
}
/* style button/links in Grid Cards Block */
.wda_grid_cards_btns > div > a,
.wda_grid_cards_btns > div > div {
   width:100%;
   background:var(--wda_btn_bg);
   color:var(--wda_btn_text_color);
   padding:var(--wda_btn_padding);
   font-size:var(--wda_btn_font_size);
}
.wda_grid_cards_btns > div > a:hover {
   background:var(--wda_btn_bg_hover);
   color:var(--link_text_color_hover); 
}
/* .wda_grid_cards_btns > .wda_grid_cards_btn  {
   
} */


/*
   Title Lead Blocks
   -------------------------------------------
*/
@media screen and (max-width: 768px) {
   .wp-block-group.wda-title-lead {
      /* set padding on mobile/sm screens */
      padding-left:2rem;
      padding-right:2rem;
   }
}
.wda-title-lead__title, .wda-title-lead__p {
   text-align:left;
}
.wda-title-lead,.wda-title-lead > div {
   -webkit-box-align:start;
   -ms-flex-align:start;
   align-items:flex-start;
}
/* we need to remove P margin to permit text-align in Title-Lead Block */
p.wda-title-lead__p {
   margin:0;
}
.wda-title-lead:not(:has(div)),
.wda-title-lead > div {
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -ms-flex-direction:column;
      flex-direction:column;
      -webkit-box-align:end;
      -ms-flex-align:end;
      align-items:flex-end;
}


/* ----------------------- Utility Classes ----------------------- */

/* Flex */
div.flex {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
}

/* Spacing */
.mt_2 {margin-top:2rem;}
.mb_2 {margin-bottom:2rem;}


.center_me {
   margin-left:auto;
   margin-right:auto;
}


.wda_inner_feature_block.bg_blue {background:blue;color:white;}
.wda_inner_feature_block.bg_blue a {color:white;}
.wda_inner_feature_block.bg_blue a:hover {color:white;}
/* we change btn color if necessary - eg on feature column bg */
.wda_inner_feature_block.bg_lightgrey {background:hsl(0, 0%, 88%);color:black;}


.mx_5 {margin-left:5rem;margin-right:5rem;}

.wda-simple-text {
   padding:0 1rem;
}

figure.wda-image > img {
   margin:0 auto;
}